<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330659700841-7dll4t6ko1t9qr4a9apj0lhtqnk1v6h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330659700841-7dll4t6ko1t9qr4a9apj0lhtqnk1v6h2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>330659700841-b3regr92m45rc7f929ag8dpcalrn7kn9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVCh5kgnMblHmxeShvlySqCet3pWgeixQ</string>
	<key>GCM_SENDER_ID</key>
	<string>330659700841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taxpuram.service</string>
	<key>PROJECT_ID</key>
	<string>taxpuram-fcfe3</string>
	<key>STORAGE_BUCKET</key>
	<string>taxpuram-fcfe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330659700841:ios:6108cab1c64437e392c2f8</string>
</dict>
</plist>